@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 261 52% 48%; /* #673AB7 */
    --primary-foreground: 300 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 37%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 88 51% 54%; /* #8BC34A */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 261 52% 48%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 19%; /* #303030 */
    --foreground: 0 0% 98%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 52% 48%; /* #673AB7 */
    --primary-foreground: 300 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 88 51% 54%; /* #8BC34A */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 261 52% 48%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
      @apply py-16 sm:py-24;
  }
}
